aws.txt
*.csv
file*.py
*.ipynb
Query/__pycache__/*
.ipynb_checkpoints/
abstracts/
bin/
lib/
newAbstrPickles/
newPickles/
pickles.zip
pickles/
pyvenv.cfg
ski_species_pickles/
Visualization/__pycache__/*
subset_pickles/
