{% extends "validate.html" %}
{% block type %}Multi Query{% endblock %}
{% block instructions %}

{% endblock %}
{% block field %}
Enter comma-separated list of human gene symbols:
<h6 style="color: grey">Ex: E2F1,CCNE1,RB1</h6>
<input type="text" name="query" style="width:800px;height:30px;font-size:28px"/>
<br>
<h5>Or upload a newline-separated file:   <input type = "file" name = "file"/></h5> 
<h6 style="color: grey">Note: If query is shorter than 100 items, you will be able to choose additional settings on the next page; otherwise, default settings will be used to generate the network.</h6>
<br>

{% endblock %}
{% block checkbox %}

{% endblock %}
