{% extends "validate.html" %}
{% block type %}Single Query
{% endblock %}

{% block instructions %}
Enter query:
<br>
<h6 style="color: grey">Ex: E2F1</h6>
{% endblock %}

{% block field %}<input type="text" name="query" style="width:670px;height:30px;font-size:20px"/>
<select name="queryType" id="cars" style="width:180px;height:30px;font-size:15px" onchange="showPR()">
          <option value="starts_with">Name starts with</option>
          <option value="ends_with">Name ends with</option>
          <option value="contains">Name contains</option>
          <option value="id">ID</option>
          <option value="gene" selected="selected">Official gene symbol</option>
        </select>
{% endblock %}
