{% extends "validate.html" %}
{% block type %}Multi Query{% endblock %}
{% block instructions %}
Enter comma-separated query:
<br>
<h6 style="color: grey">Ex: urea,caffeine,cellular quiescence or CHEBI:16199,CHEBI:27732,GO:0044838</h6> <br>
{% endblock %}
{% block field %}
<input type="text" name="query" style="width:800px;height:30px;font-size:28px"/>
<br>
<h5 style="transform: translateX(-180px)">Or upload a newline-separated file:   <input type = "file" name = "file"/></h5> <br>
<h5 style="transform: translateX(-180px)"><input type="checkbox" name="default_PR"/> Default highest pagerank (recommended for large queries)</h5>
{% endblock %}
